# Google Antigravity IDE OAuth credentials
# Find these in your Antigravity installation:
#   %LocalAppData%\Programs\Antigravity\resources\app\out\main.js
# Search for ".apps.googleusercontent.com" to find CLIENT_ID
# Search for "GOCSPX-" to find CLIENT_SECRET
ANTIGRAVITY_CLIENT_ID=your_client_id_here.apps.googleusercontent.com
ANTIGRAVITY_CLIENT_SECRET=GOCSPX-your_client_secret_here
